<div id="lophoc_list">
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>Mã lớp</th>
				<th>Thời gian</th>
				<th>Địa điểm</th>
				<th>Mã HP</th>
				<th>Tên HP</th>
				<th>Max ĐK</th>
				<th>Đã ĐK</th>
			</tr>
		</thead>
		<body>
			<%= render @lophocs %>
		</body>
	</table>
	<%= will_paginate @lophocS ,renderer: BootstrapPagination::Rails, :outer_window=>1,:inner_window=>1%><br>
	<%= page_entries_info @lophocS %>
</div>

