<h1>A hi hi</h1>
<li><%=link_to "xChuong trinh dao tao cua sinh vien",canhans_chuongtrinhdaotao_path%></li>
<li><%=link_to "xDang ki hoc phan",dangkihocphans_path%></li>
<li><%=link_to "xSinh vien dang ki hoc tap",canhans_dangkihoctap_path%></li>
