<% provide(:title, "Home") %>
<div class="row">
	<div class="col-md-10" id="results" >Ban Dau</div>	
    <button id="clear"> Clear </button>
    <button id="html"> Html </button>
    <button id="json"> Json</button>    
    
</div>
<div class="row">
  	<div class="col-md-10">
    <%image_tag("bachkhoa3.jpg")%>
  	</div>
</div>