<tr>
	<td><%=chuongtrinhdaotao.tenlopsinhvien%></td>
	<td><%=chuongtrinhdaotao.mahocphan%></td>
	<td><%=chuongtrinhdaotao.hocki%></td>
	<td><%=link_to '',chuongtrinhdaotao, method: :delete,data: { confirm: '削除' },class: "btn btn-danger glyphicon glyphicon-trash" %></td>
			
</tr>