<%=provide(:title,"Chương trình đào tạo")%>
<div class="row">
	<div class="col-md-9">
	<table class="table table-striped">
	<thead>
		<tr>
			<th>Lop sinh vien</th>
			<th>Ma hoc phan</th>
			<th>Hoc ki</th>			
		</tr>
	</thead>
	<tbody>
		<%= render @ctdts %>
	</tbody>
	</table>
	<%= will_paginate @ctdts, renderer: BootstrapPagination::Rails, outer_window:1,inner_window:1%>
	<%=page_entries_info @ctdts, model: "ctdt"%>
	</div>	
</div>
