<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Nhập nội dung bài viết ..." %>
  </div>
  <%= f.submit "Đăng bài ", class: "btn btn-primary" %>
<% end %>
