-new_path||=nil
-if new_path
	button.btn.btn-primary id="new_#{object}" href="#{new_path}" New
-else
	button.btn.btn-primary id="new_#{object}" New
button.btn.btn-warning id="edit_#{object}" Edit
button.btn.btn-danger id="destroy_#{object}" Delete
span#delete_confirm_message hidden="true" Are you sure?