<div id="khoavien_list">
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>Tên khoa viện</th><th>Địa điểm</th><th>Số điện thoại</th>
			</tr>
		</thead>
		<body>
			<%= render @khoaviens %>				
		</body>
	</table>
</div>
