<%=provide(:title,"Danh sách khoa viện")%>
<div class="row" id="khoavien_search">
	<div class="col-md-8 col-md-offset-2">
		<h1>Danh sách khoa viện</h1>		
		<%=text_field_tag :tenkhoavien,nil,placeholder: "Tìm khoa viện"%><br>
		<div id="results"><%=render 'list', object: @khoaviens %></div>
	</div>
</div>
