<div id="sinhvien_list">
	<table class="table striped-table table-bordered">
		<thead>
			<tr>
				<th>Mã sinh viên</th>
				<th>Tên sinh viên</th>
				<th>Ngày sinh</th>
				<th>Tên lớp sinh viên</th>
			</tr>
		</thead>
		<body>
			<%= render @sinhviens %>
		</body>
		</table>
	<%= will_paginate @sinhviens ,renderer: BootstrapPagination::Rails, :outer_window=>1,:inner_window=>1%>
	<%= page_entries_info @sinhviens, model: 'Sinh Viên'%>
</div>