<div id="sinhvien_list">
	<table class="table striped-table table-bordered">
		<thead>
			<tr>
				<th>学生コ➖ド</th>
				<th>学生名</th>
				<th>誕生日</th>
				<th>学生グル➖プ</th>
			</tr>
		</thead>
		<tbody>
			<%= render @sinhviens %>
		</tbody>
		</table>
	<%= will_paginate @sinhviens ,renderer: BootstrapPagination::Rails, :outer_window=>1,:inner_window=>1%>
	<%= page_entries_info @sinhviens, model: '学生'%>
</div>