<%=provide(:title,"Thong tin dang ki hoc phan ")%>
<div class="row">
	<div class="col-md-4">				
		<%=link_to " Edit ",edit_dangkihocphan_path(@dangkihocphan)%>
		<%= link_to ' Xóa ', @dangkihocphan, method: :delete,
				                                     data: { confirm: 'Chắc chắn xóa ?' },class: "btn btn-danger glyphicon glyphicon-trash" %>
		
	</div>
	<div class="col-md-6">
			  	
	</div>
</div>

