<div id="lopsinhvien_list">
	<table class="table table-striped table-bordered">
	  	<thead>
	  		<tr>
	  			<th>Tên lớp sinh viên</th>
	  			<th>Giao viên</th>
	  			<th>Khóa học</th>
	  			<th>Khoa viện</th>
	  		</tr>
	  	</thead>
  	<tbody>
  		<%= render @lopsinhviens %>
  	</tbody>
  </table>
  <%= will_paginate @lopsinhviens ,renderer: BootstrapPagination::Rails, :outer_window=>1,:inner_window=>1%>
  <%= page_entries_info @lopsinhviens, model: "Lớp sinh viên" %><br>
</div>