@import "bootstrap-sprockets";
@import "bootstrap";

.text {
    font-family: "Times New Roman";
}
.table{
	border-radius: 10px 10px 10px 10px;
	thead{
		background-color: #B266FF;
		tr{
			th:nth-child(1){
			  border-radius: 10px 0px 0px 0px;
			}
			th:nth-last-child(1){
		  	border-radius: 0px 10px 0px 0px;
			}
		}
	}
	tbody > tr.selected > td{
		background-color: #FF99CC !important;
	}
	tfoot{
		background-color: #B266FF;
		tr{
			th:nth-child(1){
			  border-radius: 0px 0px 0px 10px;
			}
			th:nth-last-child(1){
		  	border-radius: 0px 0px 10px 0px;
			}
		}
	}
}
.table-striped > tbody > tr:nth-child(2n+1) > td{
  background-color: #CCFFE5;
}
#error_explanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}