// Place all the styles related to the hoc_phan controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.xyz {
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  font-size: 20px;
}

#button_download_subjects_list{
  margin: auto;
  width: 15%;
}
