// Place all the styles related to the lop_hoc controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#button_search{
  margin: auto;
  margin-top: 20px;
  width: 50%;
}

#button_download_classes_list{
  margin: auto;
  width: 20%;
}
