<%= form_for(hung) do |f| %>
  <% if hung.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(hung.errors.count, "error") %> prohibited this hung from being saved:</h2>

      <ul>
      <% hung.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
